* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* start header */
.header-container {
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 200px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-img {
  width: 635px;
  height: 600px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
}
.banner-paragraph {
  margin-top: 32px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-primary {
  padding: 20px 43px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  background-color: #e55473;
}

/* start flower-container */

.flower-container {
  margin-top: 150px;
  text-align: center;
  padding: 20px 200px;
}
.flower-title {
  font-size: 40px;
  font-weight: 800;
  color: #272727;
  margin-top: 10px;
}
.flower-pragraph {
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
}
.flower-img-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.flower-box-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flower-img {
  padding: 10px;
  width: 350px;
  height: 528px;
}
.flower-img,
a {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
}
.flower-profile {
  text-align: center;
  margin-top: 150px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 350px;
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
}
.profile-img {
  width: 88px;
  height: 88px;
}
/* end flower section */

/* start hot deal section */
.main-container {
  height: 620px;
  background: rgba(229, 84, 115, 0.05);
  border-radius: 8px;
}
.hotdeal-container {
  display: flex;
  align-items: center;
  padding: 30px 200px;
}
.hotdeal-pragraph {
  margin-top: 24px;
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 24px;
}
.hotdeal-center {
  text-align: center;
}
.c-red {
  color: #e55473;
}
/* end hot deal section */

/*start instagram-container */
.instagram-container {
  text-align: center;
  padding: 30px 200px;
}

.title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.flower-box {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}
.instagram-img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

/*end instagram-container */
/*  */
/* start deals section */
.deals-container {
  background-image: url("../Flower-Asset/Rectangle9.png");
  margin-top: 150px;
  height: 449px;
  background-repeat: no-repeat;
  background-size: cover;
}
.deals-title {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #272727;
}
.deals-prg {
  margin-top: 16px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin-bottom: 50px;
}
#email {
  border: none;
  box-shadow: 10px 10px 10px #fff;
  padding: 10px;
  font-size: 20px;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
}
.input-deals {
  display: flex;
  gap: 30px;
  justify-content: center;
}
/* end deals  section*/

/* footer start */
footer {
  text-align: center;
  margin-top: 150px;
  height: 449px;
  background-color: black;
}
.footer-title {
  padding-top: 60px;
  font-size: 48px;
  font-weight: 800;
}
.w-color {
  color: white;
}
.footer-prg {
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-last {
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
